@import url("./global.css");

/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: var(--color-Neutral-Silver);
}

.navegation-header ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.navegation-header ul li a{
    text-decoration: none;
    color: #18191F;
    font-family: var(--font-family-primary);
    transition: 0.3s;
}

.navegation-header ul li a:hover{
    color: var(--color-Neutral-Grey-blue);
}

.btn-header{
    display: flex;
    gap: 14px;
    align-items: center;
}

.btn-header a{
    text-decoration: none;
    font-family: var(--font-family-primary);
    color: var(--color-Primary);
}

.btn-header .btn-primary{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: var(--font-size-body-3);
    background-color: var(--color-Primary);
    color: var(--color-Neutral-White);
}

/* Main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    padding: 96px 0;
    background-color: var(--color-Neutral-Silver);
    font-family: var(--font-family-primary);
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-content h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    width: 657px;
}

.main-content h1 span{
    color: var(--color-Primary);
}

.main-content p{
    color: var(--color-Neutral-Grey);
}

.main-content a{
    text-decoration: none;
    background-color: var(--color-Primary);
    color: var(--color-Neutral-White);
    border-radius: 4px;
    width: 128px;
    padding: 14px 32px;
    margin-top: 8px;
}

/* Section-Clients */
.section-clients{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family-primary);
    text-align: center;
}

.section-clients h2{
    color: var(--color-Neutral-D-Grey);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

.section-clients p{
    color: var(--color-Neutral-Grey);
}

.container-item-clients{
    display: flex;
    gap: 136px;
    margin-top: 8px;
}
